---
---

@charset "utf-8";

@import "normalize";

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  margin-top: 65px;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 400px;
  vertical-align: middle;
  aspect-ratio: 4/3;
  object-fit: cover;
 }

/*THE CROP PART*/
.card_image {
  aspect-ratio: 5 / 4;
  overflow: hidden;
  position: relative;
  object-fit: scale-down;
   }
/* END CROP */

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}





.cards_item {
  display: flex;
  padding: 1rem;
  }


@media only screen and (min-width: 600px)
{
  .cards_item {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .cards_item {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .cards_item {
    width: 33.3333%;
  }
}


/*
@media (max-width: 40rem)
{
  .cards_item {
    width: 100%;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}*/

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}



.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;

}

svg{
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  }
svg path,
svg polygon,
svg rect {
  fill: #123456;
}

svg circle {
  stroke: #000;
  stroke-width: 2;
}
