---
---
<!DOCTYPE html>



<head>

    <link rel="stylesheet" href="/css/blog1.css">




</head>

<body>






{%include navegacao.html%}
<h1>Trilhos</h1>
<ul class="card-list">
	
    {% for post in site.posts %}
    
    

	<li class="card">
		<a class="card-image" href="{{post.url}}" style="background-image: url('/assets/{{ post.folder }}/trilho.jpg');" data-image-full="/assets/{{ post.folder }}/trilho.jpg">
			<img src="/assets/{{ post.folder }}/trilho.jpg" alt="{{post.title}}" />
		</a>
		<a class="card-description" href="{{post.url}}" target="_blank">
			<h2>{{post.title}}</h2>


            <small>
            {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              
			<p>{{counter}} fotos.</p></small>
		</a>
	</li>
	



	<li class="card">
		<a class="card-image" href="{{post.url}}" style="background-image: url('/assets/{{ post.folder }}/trilho.jpg');" data-image-full="/assets/{{ post.folder }}/trilho.jpg">
			<img src="/assets/{{ post.folder }}/trilho.jpg" alt="{{post.title}}" />
		</a>
		<div class="teste">
		<a class="card-description" href="{{post.url}}" target="_blank">
			<h2>{{post.title}}</h2>


            <small>
            {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              
			<p>{{counter}} fotos.</p></small>
		</a>
	</div>
	</li><li class="card">
		<a class="card-image" href="{{post.url}}" style="background-image: url('/assets/{{ post.folder }}/trilho.jpg');" data-image-full="/assets/{{ post.folder }}/trilho.jpg">
			<img src="/assets/{{ post.folder }}/trilho.jpg" alt="{{post.title}}" />
		</a>
		<a class="card-description" href="{{post.url}}" target="_blank">
			<h2>{{post.title}}</h2>


            <small>
            {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              
			<p>{{counter}} fotos.</p></small>
		</a>
	</li><li class="card">
		<a class="card-image" href="{{post.url}}" style="background-image: url('/assets/{{ post.folder }}/trilho.jpg');" data-image-full="/assets/{{ post.folder }}/trilho.jpg">
			<img src="/assets/{{ post.folder }}/trilho.jpg" alt="{{post.title}}" />
		</a>
		<a class="card-description" href="{{post.url}}" target="_blank">
			<h2>{{post.title}}</h2>


            <small>
            {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              
			<p>{{counter}} fotos.</p></small>
		</a>
	</li><li class="card">
		<a class="card-image" href="{{post.url}}" style="background-image: url('/assets/{{ post.folder }}/trilho.jpg');" data-image-full="/assets/{{ post.folder }}/trilho.jpg">
			<img src="/assets/{{ post.folder }}/trilho.jpg" alt="{{post.title}}" />
		</a>
		<a class="card-description" href="{{post.url}}" target="_blank">
			<h2>{{post.title}}</h2>


            <small>
            {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              
			<p>{{counter}} fotos.</p></small>
		</a>
	</li><li class="card">
		<a class="card-image" href="{{post.url}}" style="background-image: url('/assets/{{ post.folder }}/trilho.jpg');" data-image-full="/assets/{{ post.folder }}/trilho.jpg">
			<img src="/assets/{{ post.folder }}/trilho.jpg" alt="{{post.title}}" />
		</a>
		<a class="card-description" href="{{post.url}}" target="_blank">
			<h2>{{post.title}}</h2>


            <small>
            {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              
			<p>{{counter}} fotos.</p></small>
		</a>
	</li>


{% endfor %}
	
</ul>

<script>
// Script to implement lazyloading (from https://codepen.io/derekmorash/pen/NjBvdX)
// - (event listeners, forEach loop)

// wait for the entire page to finish loading
window.addEventListener('load', function() {
	
	// setTimeout to simulate the delay from a real page load
	setTimeout(lazyLoad, 1000);
	
});

function lazyLoad() {
	var card_images = document.querySelectorAll('.card-image');
	
	// loop over each card image
	card_images.forEach(function(card_image) {
		var image_url = card_image.getAttribute('data-image-full');
		var content_image = card_image.querySelector('img');
		
		// change the src of the content image to load the new high res photo
		content_image.src = image_url;
		
		// listen for load event when the new photo is finished loading
		content_image.addEventListener('load', function() {
			// swap out the visible background image with the new fully downloaded photo
			card_image.style.backgroundImage = 'url(' + image_url + ')';
			// add a class to remove the blur filter to smoothly transition the image change
			card_image.className = card_image.className + ' is-loaded';
		});
		
	});
	
}

</script>
{%include top-nav-scripts.html%}