---
---
<!DOCTYPE html>



<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


    <link rel="stylesheet" href="/css/blog-bulma.css">






</head>

<body>

<section class="hero is-success mb-5 has-text-centered is-medium">
	<div class="hero-body">
	  <p class="title">
		Success hero
	  </p>
	  <p class="subtitle">
		Success subtitle
	  </p>
	</div>
  </section>
  
  
  <div class="columns is-variable is-6 is-multiline">
   
	
	{% for post in site.posts %}
	{%include card-bulma.html %}
	
	{%include card-bulma.html %}
	{%include card-bulma.html %}
	{%include card-bulma.html %}
	{%include card-bulma.html %}
	{% endfor %}
	
	<!-- extra -->
	
	
	
  </div>
  