---

---

<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/blog.css">

</head>

<body>
<h1>Trilhos</h1>

<div class="columns is is-multiline is-centered">

<ul class="cards">
{% for post in site.posts %}
	<div class="column is-one-third">
	
	  {%include tab-post2.html %}
	  
	</div>

	<div class="column is-one-third">
	
		{%include tab-post2.html %}
		
	  </div>

	  <div class="column is-one-third">
	
		{%include tab-post2.html %}
		
	  </div>


	{% endfor %}

	</ul>
</div>


