<div class="col-sm-4 p-4">
    <div style="box-shadow: 0 0  20px #ddd;">
      <div class="position-relative" style="height: 320px; background-image: url('/assets/{{ post.folder }}/trilho.jpg'); background-position: center; background-size: cover;">
        <div class="position-absolute px-3 py-4" style="background: rgba(0, 0, 0, .5); right: 0; bottom: 0; left: 0;">
          <h3 class="h6"><a href="{{post.url}}" class="text-white" style="line-height: 1.6;">{{post.title}}</a></h3>
          <div class="mt-2 d-flex justify-content-between">
            <small class="pl-2 text-white" style="border-left: 3px solid #9B5DE5;">
                {% assign counter = 0 %}
                {% for file in site.static_files %}
                
                {% if file.path contains post.folder %}
                {% if file.extname == '.jpg' or 
  file.extname == '.jpeg' or 
  file.extname == '.JPG' or 
  file.extname == '.JPEG' %}
                {% assign counter = counter | plus: 1 %}
                {% endif %}{% endif %}
                     
              {% endfor %}
              {{counter}} fotos.
            </small>
                
              
            <!--
            LINKAR aqui TAGS
            <a href="{{ post.url }}" class="pl-2 text-white" style="border-left: 3px solid #9B5DE5;"><small>Travel</small></a>
            
            <a href="#" class="pl-2 text-white" style="border-left: 3px solid #9B5DE5;"><small>nunogand</small></a>
        -->
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="d-flex align-items-center mr-4">
          <svg height="16px" class="mr-2" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 300.988 300.988" style="enable-background:new 0 0 300.988 300.988;" xml:space="preserve">
          <g>
            <g>
              <path d="M150.494,0.001C67.511,0.001,0,67.512,0,150.495s67.511,150.493,150.494,150.493s150.494-67.511,150.494-150.493
                S233.476,0.001,150.494,0.001z M150.494,285.987C75.782,285.987,15,225.206,15,150.495S75.782,15.001,150.494,15.001
                s135.494,60.782,135.494,135.493S225.205,285.987,150.494,285.987z"/>
              <polygon points="142.994,142.995 83.148,142.995 83.148,157.995 157.994,157.995 157.994,43.883 142.994,43.883 		"/>
            </g>
          </svg>
          <small class="mt-1" style="color: #9B5DE5;">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      {{ post.date | date: "%Y" }}

     
          </small>
        </div>
      </div>
    </div>
  </div>