{%include head.html %}


<script
  src="/assets/js/material-photo-gallery.min.js"></script>





  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  
<link rel="stylesheet" href="/css/stream.css" />

<body>

  
  <style type="text/css">
  <!--
    /*.gpx { border: 0; border-radius: 5px;
      box-shadow: 0;
      margin: 1em auto; flex: 1 1 20em; max-width: 80vw;}
    .gpx header { padding: 0.5em; }
    .gpx h3 { margin: 0; padding: 0; font-weight: bold; }
    .gpx .start { font-size: smaller; color: #444; }
    .gpx .map { border: 0; border-left: none; border-right: none;
      max-width: 80vw; height: 500px; margin: 0; }
    .gpx footer { background: #f0f0f0; padding: 0.5em; }
    .gpx ul.info { list-style: none; margin: 0; padding: 0; font-size: smaller; }
    .gpx ul.info li { color: #666; padding: 2px; display: inline; }
    .gpx ul.info li span { color: black; }*/
  -->     

    .leaflet-control-layers {text-align: left;}
    
  </style>



<section id="demo" class="gpx" data-gpx-source="/assets/{{page.folder}}/track.gpx" data-map-target="demo-map">
  <header>
    <span class="start"></span>
  </header>

  <article>
    <div class="map" id="demo-map"></div>
  </article>
  
  <footer>
    <ul class="info">
      <li>Distância:&nbsp;<span class="distance"></span>&nbsp;m</li>
      &mdash; <li>elev-max:&nbsp;<span class="elev-max"></span></li>
      &mdash; <li>Elevação:&nbsp;+<span class="elevation-gain"></span>&nbsp;ft,
        -<span class="elevation-loss"></span>&nbsp;ft
        (net:&nbsp;<span class="elevation-net"></span>&nbsp;ft)</li>
    </ul>
  </footer>
  <h1>{{page.title}}</h1>
</section>



  



  
  
  
		<div class="m-p-g">
			<div class="m-p-g__thumbs" data-google-image-layout data-max-height="350">
                
                {% include gallery.html folder=page.folder %}	
            
            </div>

			<div class="m-p-g__fullscreen"></div>
		</div>

      
	<script>
			var elem = document.querySelector('.m-p-g');

			document.addEventListener('DOMContentLoaded', function() {
				var gallery = new MaterialPhotoGallery(elem);
			});
		</script>

<script src="/assets/js/leaflet.js"></script>
<script src="/assets/js/gpx.js"></script>-->
    <script type="application/javascript">

      var osmLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>',
          otmLink = '<a href="https://opentopomap.org/">OpenTopoMap</a>',
          ESRILink = '<a href="https://www.esri.com/en-us/home/">ESRI</a>';
          
        
      var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          osmAttrib = '&copy; ' + osmLink + ' Contributors',
          
          otmUrl = 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
          otmAttrib = '&copy; '+otmLink+' Contributors',
          
          ESRItopoUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}',
          ESRItopoAttrib = '&copy; '+ESRILink+' Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community',
          
          ESRIUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
          ESRIAttrib = '&copy; '+ESRILink+' Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community';
  
      var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib}),
          otmMap = L.tileLayer(otmUrl, {attribution: otmAttrib}),
          ESRIMap = L.tileLayer(ESRIUrl, {attribution: ESRIAttrib}),
          ESRItopoMap = L.tileLayer(ESRItopoUrl, {attribution: ESRItopoAttrib});



      function display_gpx(elt) {
        if (!elt) return;

        var url = elt.getAttribute('data-gpx-source');
        var mapid = elt.getAttribute('data-map-target');
        if (!url || !mapid) return;

        function _t(t) { return elt.getElementsByTagName(t)[0]; }
        function _c(c) { return elt.getElementsByClassName(c)[0]; }

        var map = L.map(mapid, {
			    layers: [osmMap] // only add one!
		    });
       
 var baseLayers = {
			    "OSM Mapnik": osmMap,
			    "Topography": otmMap,
          "ESRI Imagery": ESRIMap,
          "ESRI Topo Map" : ESRItopoMap
		    };

        var control = L.control.layers(baseLayers).addTo(map);

        new L.GPX(url, {
          async: true,
          marker_options: {
            startIconUrl: '/assets/map-icons/finish-flag.svg',
            endIconUrl:   '/assets/map-icons/finish-flag-1.svg',
            shadowUrl:    '/assets/map-icons/pin-shadow.png',
          },
        }).on('loaded', function(e) {
          var gpx = e.target;
          map.fitBounds(gpx.getBounds());
          //control.addOverlay(gpx, gpx.get_name());
          control.addOverlay(gpx, '{{page.title}}');
          /*
           * Note: the code below relies on the fact that the demo GPX file is
           * an actual GPS track with timing and heartrate information.
           
          _t('h3').textContent = gpx.get_name();
          _c('start').textContent = gpx.get_start_time().toDateString() + ', '   
            + gpx.get_start_time().toLocaleTimeString();*/
          _c('distance').textContent = gpx.get_distance().toFixed(0); 
          /*
          _c('duration').textContent = gpx.get_duration_string(gpx.get_moving_time());
          _c('pace').textContent     = gpx.get_duration_string(gpx.get_moving_pace_imp(), true);
          _c('avghr').textContent    = gpx.get_average_hr();
          */
          _c('elevation-gain').textContent = gpx.get_elevation_gain().toFixed(0);
          _c('elevation-loss').textContent = gpx.get_elevation_loss().toFixed(0);
          _c('elevation-net').textContent  = (gpx.get_elevation_gain()
            - gpx.get_elevation_loss()).toFixed(0);
            _c('elev-max').textContent = gpx.get_elevation_max().toFixed(0);
            _c
        }).addTo(map);
      }

      display_gpx(document.getElementById('demo'));

    </script>


</body>
